<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>941963904035-948vhp5a2bd4gof9kss3vbrb6nd6l3si.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.941963904035-948vhp5a2bd4gof9kss3vbrb6nd6l3si</string>
	<key>API_KEY</key>
	<string>AIzaSyBr7Cap0ERN2lw1DHQqLOouYgsTat1Fqe4</string>
	<key>GCM_SENDER_ID</key>
	<string>941963904035</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.kimdohyun.ColorBasketApp</string>
	<key>PROJECT_ID</key>
	<string>colorbasket-c257a</string>
	<key>STORAGE_BUCKET</key>
	<string>colorbasket-c257a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:941963904035:ios:35d9f034627b52eedc1d96</string>
</dict>
</plist>